header {
  display: flex;
  align-items: flex-start;
  border: 1px solid black;
  margin: 3vh 10vw 3vh 10vw;
  white-space: nowrap;
}

header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  border: 1px solid black;
  height: 10vh;
  width: 60vw;
  padding: 0;
  margin: 0 5vw 0 7vw;
}

header ul li {
  margin: 0 2vw 0 2vw;
  font-size: 16pt;
}

header img{
  height: 10vh;
}

.link{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

